:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #ddd;
  --mid: #888;
  --r: 34;
  --g: 34;
  --b: 34;
  --a: 0.9;
  --dark: rgb(var(--r), var(--g), var(--b));
  --darkly: rgba(var(--r), var(--g), var(--b), var(--a));

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;
  --danger: #600;
  --danger-border: #900;
  --danger-active: #300;

  --gap: 0.5em;
  --slot: 0.25em;
  --width: 300px;
  --button: 200px;

  color-scheme: light dark;
}

body {
  color: var(--light);
  background-color: var(--dark);

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  text-align: center;
}

div.start-growl {
  --open: 40vh;
  --text: 11em;
  --height: calc(var(--open) - var(--text));
  height: calc(100vh - 40px); /* space for Force Remount button */
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & div.open {
    flex-grow: 1;
    border: 1px inset #888;
    background-color: #000;
    margin-top: 1em;
    width: var(--width);
    height: var(--open);

    & div.growls {
      height: var(--height);
      width: var(--width);
      overflow: auto;
    }
  }

  & p {
    font-size: small;
  }

  /* BUTTONS // BUTTONS // BUTTONS // BUTTONS // BUTTONS */

  button {
    display: block;
    margin: 0 auto;
    border: 1px outset var(--mid);
    border-radius: var(--gap);
    padding: var(--gap);
    width: var(--button);
    cursor: pointer;
  }

  button:hover {
    color: #fff;
  }

  button:hover:active {
    border-style: inset;
    background-color: #000;
  }

  button.primary {
    margin: 1em auto;
    background-color: var(--primary);
    border-color: var(--primary-border);
  }

  button.primary:active:hover {
    background-color: var(--primary-active);
  }

  button.danger {
    margin: 1em auto;
    background-color: var(--danger);
    border-color: var(--danger-border);
  }

  button.danger:active:hover {
    background-color: var(--danger-active);
  }
}

